<div class="deck-section mb-3">
    <h6 class="deck-label mb-2">Upper Deck</h6>
    <div class="outerseat">
        <div class="busSeatlft">
            <div class="upper"></div>
        </div>
        <div class="busSeatrgt">
            <div class="busSeat">
                <div class="seatcontainer clearfix">
                    <div id="U1" style="top: 0px; left: 0px; display: block" class="bhseat"
                        onclick="javascript:AddRemoveSeat(this,'U1','2000')">
                        <div style="
                                font-size: 10px;
                                line-height: 1.1;
                                text-align: center;
                            ">
                            <div style="font-weight: bold">U1</div>
                            <div style="font-size: 9px">&#8377;2000</div>
                        </div>
                    </div>
                    <div id="U2" style="top: 0px; left: 0px; display: block" class="hseat"
                        onclick="javascript:AddRemoveSeat(this,'U2','2000')">
                        <div style="
                                font-size: 10px;
                                line-height: 1.1;
                                text-align: center;
                            ">
                            <div style="font-weight: bold">U2</div>
                            <div style="font-size: 9px">&#8377;2000</div>
                        </div>
                    </div>
                    <div id="U3" style="top: 0px; left: 80px; display: block" class="bhseat"
                        onclick="javascript:AddRemoveSeat(this,'U3','2000')">
                        <div style="
                                font-size: 10px;
                                line-height: 1.1;
                                text-align: center;
                            ">
                            <div style="font-weight: bold">U3</div>
                            <div style="font-size: 9px">&#8377;2000</div>
                        </div>
                    </div>
                    <div id="U5" style="top: 0px; left: 160px; display: block" class="hseat"
                        onclick="javascript:AddRemoveSeat(this,'U5','2000')">
                        <div style="
                                font-size: 10px;
                                line-height: 1.1;
                                text-align: center;
                            ">
                            <div style="font-weight: bold">U5</div>
                            <div style="font-size: 9px">&#8377;2000</div>
                        </div>
                    </div>
                    <div id="U7" style="top: 0px; left: 240px; display: block" class="hseat"
                        onclick="javascript:AddRemoveSeat(this,'U7','0')">
                        <div style="
                                font-size: 10px;
                                line-height: 1.1;
                                text-align: center;
                            ">
                            <div style="font-weight: bold">U7</div>
                            <div style="font-size: 9px">&#8377;0</div>
                        </div>
                    </div>
                    <div id="U19" style="top: 40px; left: 320px; display: block" class="hseat"
                        onclick="javascript:AddRemoveSeat(this,'U19','0')">
                        <div style="
                                font-size: 10px;
                                line-height: 1.1;
                                text-align: center;
                            ">
                            <div style="font-weight: bold">U19</div>
                            <div style="font-size: 9px">&#8377;0</div>
                        </div>
                    </div>
                    <div id="U9" style="top: 0px; left: 320px; display: block" class="hseat"
                        onclick="javascript:AddRemoveSeat(this,'U9','0')">
                        <div style="
                                font-size: 10px;
                                line-height: 1.1;
                                text-align: center;
                            ">
                            <div style="font-weight: bold">U9</div>
                            <div style="font-size: 9px">&#8377;0</div>
                        </div>
                    </div>
                    <div id="U11" style="top: 40px; left: 0px; display: block" class="hseat"
                        onclick="javascript:AddRemoveSeat(this,'U11','2000')">
                        <div style="
                                font-size: 10px;
                                line-height: 1.1;
                                text-align: center;
                            ">
                            <div style="font-weight: bold">U11</div>
                            <div style="font-size: 9px">&#8377;2000</div>
                        </div>
                    </div>
                    <div id="U13" style="top: 40px; left: 80px; display: block" class="hseat"
                        onclick="javascript:AddRemoveSeat(this,'U13','2000')">
                        <div style="
                                font-size: 10px;
                                line-height: 1.1;
                                text-align: center;
                            ">
                            <div style="font-weight: bold">U13</div>
                            <div style="font-size: 9px">&#8377;2000</div>
                        </div>
                    </div>
                    <div id="U15" style="top: 40px; left: 160px; display: block" class="hseat"
                        onclick="javascript:AddRemoveSeat(this,'U15','0')">
                        <div style="
                                font-size: 10px;
                                line-height: 1.1;
                                text-align: center;
                            ">
                            <div style="font-weight: bold">U15</div>
                            <div style="font-size: 9px">&#8377;0</div>
                        </div>
                    </div>
                    <div id="U17" style="top: 40px; left: 240px; display: block" class="hseat"
                        onclick="javascript:AddRemoveSeat(this,'U17','0')">
                        <div style="
                                font-size: 10px;
                                line-height: 1.1;
                                text-align: center;
                            ">
                            <div style="font-weight: bold">U17</div>
                            <div style="font-size: 9px">&#8377;0</div>
                        </div>
                    </div>
                    <div id="U21" style="top: 130px; left: 0px; display: block" class="hseat"
                        onclick="javascript:AddRemoveSeat(this,'U21','2000')">
                        <div style="
                                font-size: 10px;
                                line-height: 1.1;
                                text-align: center;
                            ">
                            <div style="font-weight: bold">U21</div>
                            <div style="font-size: 9px">&#8377;2000</div>
                        </div>
                    </div>
                    <div id="U23" style="top: 130px; left: 80px; display: block" class="hseat"
                        onclick="javascript:AddRemoveSeat(this,'U23','0')">
                        <div style="
                                font-size: 10px;
                                line-height: 1.1;
                                text-align: center;
                            ">
                            <div style="font-weight: bold">U23</div>
                            <div style="font-size: 9px">&#8377;0</div>
                        </div>
                    </div>
                    <div id="U25" style="top: 130px; left: 160px; display: block" class="hseat"
                        onclick="javascript:AddRemoveSeat(this,'U25','0')">
                        <div style="
                                font-size: 10px;
                                line-height: 1.1;
                                text-align: center;
                            ">
                            <div style="font-weight: bold">U25</div>
                            <div style="font-size: 9px">&#8377;0</div>
                        </div>
                    </div>
                    <div id="U27" style="top: 130px; left: 240px; display: block" class="hseat"
                        onclick="javascript:AddRemoveSeat(this,'U27','0')">
                        <div style="
                                font-size: 10px;
                                line-height: 1.1;
                                text-align: center;
                            ">
                            <div style="font-weight: bold">U27</div>
                            <div style="font-size: 9px">&#8377;0</div>
                        </div>
                    </div>
                    <div id="U29" style="top: 130px; left: 320px; display: block" class="hseat"
                        onclick="javascript:AddRemoveSeat(this,'U29','0')">
                        <div style="
                                font-size: 10px;
                                line-height: 1.1;
                                text-align: center;
                            ">
                            <div style="font-weight: bold">U29</div>
                            <div style="font-size: 9px">&#8377;0</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clr"></div>
    </div>
</div>

<div class="deck-section">
    <h6 class="deck-label mb-2">Lower Deck</h6>
    <div class="outerlowerseat">
        <div class="busSeatlft">
            <div class="lower"></div>
        </div>
        <div class="busSeatrgt">
            <div class="busSeat">
                <div class="seatcontainer clearfix">
                    <div id="1" style="top: 0px; left: 0px; display: block" class="hseat"
                        onclick="javascript:AddRemoveSeat(this,'1','2000')">
                        <div style="
                                font-size: 10px;
                                line-height: 1.1;
                                text-align: center;
                            ">
                            <div style="font-weight: bold">1</div>
                            <div style="font-size: 9px">&#8377;2000</div>
                        </div>
                    </div>
                    <div id="21" style="top: 130px; left: 0px; display: block" class="nseat"
                        onclick="javascript:AddRemoveSeat(this,'21','0')">
                        <div style="
                                font-size: 10px;
                                line-height: 1.1;
                                text-align: center;
                            ">
                            <div style="font-weight: bold">21</div>
                            <div style="font-size: 9px">&#8377;0</div>
                        </div>
                    </div>
                    <div id="22" style="top: 130px; left: 40px; display: block" class="nseat"
                        onclick="javascript:AddRemoveSeat(this,'22','0')">
                        <div style="
                                font-size: 10px;
                                line-height: 1.1;
                                text-align: center;
                            ">
                            <div style="font-weight: bold">22</div>
                            <div style="font-size: 9px">&#8377;0</div>
                        </div>
                    </div>
                    <div id="23" style="top: 130px; left: 80px; display: block" class="nseat"
                        onclick="javascript:AddRemoveSeat(this,'23','0')">
                        <div style="
                                font-size: 10px;
                                line-height: 1.1;
                                text-align: center;
                            ">
                            <div style="font-weight: bold">23</div>
                            <div style="font-size: 9px">&#8377;0</div>
                        </div>
                    </div>
                    <div id="24" style="top: 130px; left: 120px; display: block" class="nseat"
                        onclick="javascript:AddRemoveSeat(this,'24','0')">
                        <div style="
                                font-size: 10px;
                                line-height: 1.1;
                                text-align: center;
                            ">
                            <div style="font-weight: bold">24</div>
                            <div style="font-size: 9px">&#8377;0</div>
                        </div>
                    </div>
                    <div id="25" style="top: 130px; left: 160px; display: block" class="nseat"
                        onclick="javascript:AddRemoveSeat(this,'25','0')">
                        <div style="
                                font-size: 10px;
                                line-height: 1.1;
                                text-align: center;
                            ">
                            <div style="font-weight: bold">25</div>
                            <div style="font-size: 9px">&#8377;0</div>
                        </div>
                    </div>
                    <div id="26" style="top: 130px; left: 200px; display: block" class="nseat"
                        onclick="javascript:AddRemoveSeat(this,'26','0')">
                        <div style="
                                font-size: 10px;
                                line-height: 1.1;
                                text-align: center;
                            ">
                            <div style="font-weight: bold">26</div>
                            <div style="font-size: 9px">&#8377;0</div>
                        </div>
                    </div>
                    <div id="27" style="top: 130px; left: 240px; display: block" class="nseat"
                        onclick="javascript:AddRemoveSeat(this,'27','0')">
                        <div style="
                                font-size: 10px;
                                line-height: 1.1;
                                text-align: center;
                            ">
                            <div style="font-weight: bold">27</div>
                            <div style="font-size: 9px">&#8377;0</div>
                        </div>
                    </div>
                    <div id="28" style="top: 130px; left: 280px; display: block" class="nseat"
                        onclick="javascript:AddRemoveSeat(this,'28','0')">
                        <div style="
                                font-size: 10px;
                                line-height: 1.1;
                                text-align: center;
                            ">
                            <div style="font-weight: bold">28</div>
                            <div style="font-size: 9px">&#8377;0</div>
                        </div>
                    </div>
                    <div id="29" style="top: 130px; left: 320px; display: block" class="nseat"
                        onclick="javascript:AddRemoveSeat(this,'29','0')">
                        <div style="
                                font-size: 10px;
                                line-height: 1.1;
                                text-align: center;
                            ">
                            <div style="font-weight: bold">29</div>
                            <div style="font-size: 9px">&#8377;0</div>
                        </div>
                    </div>
                    <div id="30" style="top: 130px; left: 360px; display: block" class="nseat"
                        onclick="javascript:AddRemoveSeat(this,'30','0')">
                        <div style="
                                font-size: 10px;
                                line-height: 1.1;
                                text-align: center;
                            ">
                            <div style="font-weight: bold">30</div>
                            <div style="font-size: 9px">&#8377;0</div>
                        </div>
                    </div>
                    <div id="11" style="top: 40px; left: 0px; display: block" class="hseat"
                        onclick="javascript:AddRemoveSeat(this,'11','0')">
                        <div style="
                                font-size: 10px;
                                line-height: 1.1;
                                text-align: center;
                            ">
                            <div style="font-weight: bold">11</div>
                            <div style="font-size: 9px">&#8377;0</div>
                        </div>
                    </div>
                    <div id="3" style="top: 0px; left: 80px; display: block" class="hseat"
                        onclick="javascript:AddRemoveSeat(this,'3','0')">
                        <div style="
                                font-size: 10px;
                                line-height: 1.1;
                                text-align: center;
                            ">
                            <div style="font-weight: bold">3</div>
                            <div style="font-size: 9px">&#8377;0</div>
                        </div>
                    </div>
                    <div id="5" style="top: 0px; left: 160px; display: block" class="hseat"
                        onclick="javascript:AddRemoveSeat(this,'5','0')">
                        <div style="
                                font-size: 10px;
                                line-height: 1.1;
                                text-align: center;
                            ">
                            <div style="font-weight: bold">5</div>
                            <div style="font-size: 9px">&#8377;0</div>
                        </div>
                    </div>
                    <div id="7" style="top: 0px; left: 240px; display: block" class="hseat"
                        onclick="javascript:AddRemoveSeat(this,'7','0')">
                        <div style="
                                font-size: 10px;
                                line-height: 1.1;
                                text-align: center;
                            ">
                            <div style="font-weight: bold">7</div>
                            <div style="font-size: 9px">&#8377;0</div>
                        </div>
                    </div>
                    <div id="13" style="top: 40px; left: 80px; display: block" class="hseat"
                        onclick="javascript:AddRemoveSeat(this,'13','0')">
                        <div style="
                                font-size: 10px;
                                line-height: 1.1;
                                text-align: center;
                            ">
                            <div style="font-weight: bold">13</div>
                            <div style="font-size: 9px">&#8377;0</div>
                        </div>
                    </div>
                    <div id="15" style="top: 40px; left: 160px; display: block" class="hseat"
                        onclick="javascript:AddRemoveSeat(this,'15','0')">
                        <div style="
                                font-size: 10px;
                                line-height: 1.1;
                                text-align: center;
                            ">
                            <div style="font-weight: bold">15</div>
                            <div style="font-size: 9px">&#8377;0</div>
                        </div>
                    </div>
                    <div id="17" style="top: 40px; left: 240px; display: block" class="hseat"
                        onclick="javascript:AddRemoveSeat(this,'17','0')">
                        <div style="
                                font-size: 10px;
                                line-height: 1.1;
                                text-align: center;
                            ">
                            <div style="font-weight: bold">17</div>
                            <div style="font-size: 9px">&#8377;0</div>
                        </div>
                    </div>
                    <div id="9" style="top: 0px; left: 320px; display: block" class="vseat"
                        onclick="javascript:AddRemoveSeat(this,'9','2000')">
                        <div style="
                                font-size: 10px;
                                line-height: 1.1;
                                text-align: center;
                            ">
                            <div style="font-weight: bold">9</div>
                            <div style="font-size: 9px">&#8377;2000</div>
                        </div>
                    </div>
                    <div id="10" style="top: 0px; left: 360px; display: block" class="vseat"
                        onclick="javascript:AddRemoveSeat(this,'10','0')">
                        <div style="
                                font-size: 10px;
                                line-height: 1.1;
                                text-align: center;
                            ">
                            <div style="font-weight: bold">10</div>
                            <div style="font-size: 9px">&#8377;0</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clr"></div>
    </div>
</div>